body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-image: linear-gradient(180deg, #24103a 0%, #1B1244 60%, #0b0821 100%);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #60E395;
  padding: 10px 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.select{
  background-color: #1B1244
}
.logo {
  height: 70px;
}

.nav-icons img {
  height: 28px;
  margin-left: 25px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.pagamento-title {
  color: #ffffff;
  font-size: 28px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-cart {
  width: 22px;
  height: 22px;
}

.payment-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 320px;
}

.payment-form input,
.payment-form select {
  background-color: transparent;
  border: 2px solid #60E395;
  border-radius: 25px;
  padding: 12px;
  margin: 8px 0;
  color: white;
  outline: none;
  font-size: 13px;
}

.payment-form input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.form-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 18px 0 10px;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 15px;
}

.payment-method select {
  flex: 1;
}

.cards-img {
  height: 28px;
  object-fit: contain;
}

.input-icon {
  position: relative;
}

.input-icon input {
  width: 295px;
  padding-right: 10px;
}

.inline-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-51%);
  width: 45px;
  height: 150px;
  object-fit: contain;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.btn {
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

.voltar {
  background-color: #1DB4FF;
  color: white;
}

.comprar {
  background-color: #60E395;
  color: black;
}
.comprar img {
  width: 18px;
  height: 18px;
}
