footer {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-top: 3px solid var(--accent);
  bottom: 0;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  list-style: none;
}
footer ul li {
  display: inline-block;
  text-decoration: none;
}
footer ul li a {
  color: #60e395;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s;
}
footer ul li a:hover {
  color: #45c17a;
}

/* Footer row */
.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
